<footer class="page-footer font-small jamred">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-2 mb-1">

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/about">About This Project</a>
        </h6>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Technologies Used</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Hardware Stack</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/developmenttools">Development Tools</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="contact">Contact Us</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-3">
        <p style="line-height: 1.7rem">This project is a part of my Computer Science Higher Level 2021 Internal Assessment. </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-1">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-1 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="lg" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" size="lg" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon fab fab icon="google-plus" size="lg" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon fab icon="linkedin" size="lg" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" size="lg" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <mdb-icon fab icon="pinterest" size="lg" class="white-text mr-4"></mdb-icon>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020-2023 Copyright:
    <a href="https://mdbootstrap.com/"> POC for Ashish and Fabio - Jamboree Project</a>
  </div>
  <!-- Copyright -->

</footer>
