<div class="gallery-grid" *ngIf="products">
  <strong>PRODUCTS</strong>
  <div *ngFor="let product of products" >
    <mdb-card cascade="true" narrower="true" class="card-ecommerce">
      <img src="{{ product['image_url'] }}" alt="Product photo">
      <div cascade="true" class="text-center">
        <mdb-card-title>
          <h4>
            <strong>
              <a class="text-capitalize">{{product["product_description"]}}</a>
            </strong>
          </h4>
        </mdb-card-title>
        <a>
          <h5 style="justify-content: space-between"><strong>{{product["price"] | currency}}</strong></h5>
          <h5 style="justify-content: space-between"><strong>Stock: {{product["stock"]}}</strong></h5>
        </a>
        <ul class="rating float-center">
        <span *ngFor="let x of maxRating; let i = index">
            <span *ngIf="product['rating'] > i">
              <mdb-icon fas icon="star" style="color: gold"></mdb-icon>
            </span>
          <span *ngIf="product['rating'] < i">
              <mdb-icon fas icon="star" style="color: gray"></mdb-icon>
            </span>
        </span>
        </ul>
        <!--Card footer-->
        <span class="float-center font-weight-bold">
              <mdb-card-text>{{product["store"]}}</mdb-card-text>
            </span>
        <div style="padding-bottom: 1em">
          <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
            <mdb-icon fas icon="shopping-cart" (click)="updateCart(product, 1)" class="grey-text ml-3"></mdb-icon>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Share">
            <mdb-icon fas icon="share-alt" class="grey-text ml-3"></mdb-icon>
          </a>
          <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
            <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
          </a>
        </div>
      </div>
    </mdb-card>
  </div>
</div>
