<div class="container1">

  <!--  Calling the header component (navigation bar) to display at the top of the webpage. -->
  <app-header></app-header>
<!--  Calling on the main component to display the main body information of the webpage.-->
<app-main>
<!--  Navigates the user to the specific webpage they have invoked.-->
  <router-outlet></router-outlet>
</app-main>
<!--  Calling the aside (cart) component to display on the right side of the webpage-->
  <app-aside></app-aside>
  <!--  Calling the footer component to display on the bottom of the webpage-->
  <app-footer></app-footer>
</div>

