<div class="plainbg font">
  <div class="container-fluid font plainbg center">
    <div class="row">
      <div class="col-12 plainbg">
        <img src="./assets/logo/logowmoto.png" alt = "JAMBOREE" class="topspace">
      </div>
    </div>
  </div>
  <p></p>

  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="./assets/img/slide1.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="./assets/img/slide2.png" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="./assets/img/slide3.png" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="./assets/img/slide4.png" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <p></p>
  <div class="d-flex">
    <!-- Card -->

    <mdb-card style="background-color:#9ddfa1" class="card-image  mb-3 mx-2">
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-2"><strong>What Can we Help You With?</strong></h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->

    <!-- Card -->
    <!-- Card -->
  </div>
  <div class="d-flex">
    <!-- Card -->

    <mdb-card style="background-color:#4dba31" class="card-image  mb-3 mx-2">
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-2"><strong>Email</strong></h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->

    <!-- Card -->
    <mdb-card
      style="background-color:#d55d5d"
      class="card-image  mb-3 mx-2"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-2"><strong>Hotline Number</strong></h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->
  </div>
  <div class="containerx">
    <div class="centerx">
      <a mdbBtn class="waves-light green lighten-1" mdbWavesEffect routerLink="/shophome">
        <i style="color: white" class="fas fa-shopping-cart"></i>
        <p style="color: white">Back to Shop</p></a>
    </div>
  </div>
</div>

